[submodule ".registry"]
	path = .registry
	url = https://github.com/jamesuanhoro/jamesuanhoro.r-universe.dev
	branch = HEAD
[submodule "ugcflss"]
	path = ugcflss
	url = https://github.com/jamesuanhoro/ugcflss
