[submodule ".registry"]
	path = .registry
	url = https://github.com/jamesuanhoro/jamesuanhoro.r-universe.dev
	shallow = true
	branch = HEAD
[submodule "minorbsem"]
	path = minorbsem
	url = https://github.com/jamesuanhoro/minorbsem
	shallow = true
	branch = rstan_dn
	registered = true
