[submodule ".registry"]
	path = .registry
	url = https://github.com/jamesuanhoro/jamesuanhoro.r-universe.dev
	branch = HEAD
[submodule "rccme"]
	path = rccme
	url = https://github.com/jamesuanhoro/rccme
[submodule "ssrhom"]
	path = ssrhom
	url = https://github.com/jamesuanhoro/ssrhom
[submodule "ugcflss"]
	path = ugcflss
	url = https://github.com/jamesuanhoro/ugcflss
